/*
  white : #e0e2e4
  pink  : #da89a2
  black : #22282c
  green : #5cc884
*/


.Theme-color{
  background-color: #22282C;
}

.App-theme {
  text-align: center;
  background-color: #22282C;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-Search-Button {
  font-size: 4em;
  background-color: #22282C;
  color: #22282C;
}



.App-text{
  color: #22282C;
}

.App-intro {
  font-size: 4em;
  background-color: #22282C;
  color: #e0e2e4;
  text-align: center;
  height: 75px;
  margin-bottom: 0rem;
}

.App-nev-custom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #22282c;
  tab: 0;
}

.App-nevButton-custom{
  width: 170px;
  text-align: center;
  font-size: 1.4em;
  padding: 10px;
}

.App-nevItem-active{
  background: #5cc884;
  color: #22282C;
}

.App-nevItem-active:hover {
  color: #22282C !important;
}

.App-nevItem-inactive{
  background: #22282C;
  color: #e0e2e4;
}

.App-nevItem-inactive:hover {
  color: #e0e2e4 !important;
}


.SearchBike-header {
  background-image: linear-gradient(to bottom, #22282c, #22282c, #22282c, #22282c, #22282c);
  height: 55px;
  text-align: center;
  padding: 0px;
  color: #e0e2e4;
  font-size: 2.5em;
}

.Each-id-Theme{
  background-color: #22282C;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Each-id-Button{
  text-align: left;
  background-color: #22282C;
}

.Each-id-Remove{
  text-align: left;
  background-color: #22282C;
}

.Each-id-Input{
  background-color: #22282c;
  color: #da89a2;
  text-decoration: none;
  border: 0;
}

.LottieConnectionStatus{
  margin-top: 10px;
}

.BlockScreen {
  height: 0px;
}

.Shadow {
  background-color: rgba(0,0,0,.3);
  pointer-events: none;
  position: absolute;
  top: 199px; bottom: 0; left: 0; right: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CameraTabContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  background: #22282c;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
background-color:teal;
background-image: none;
background-repeat: no-repeat;
*/


/*line-height: 15px;*/